html {
  background-color: black;
  color: gold;
  font-family: "Agdasima", sans-serif;
}

.main img {
  display: block;
  margin-left: 43.5%;
}
.main p {
  text-align: center;
}
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
  color: lightgoldenrodyellow;
}

.card {
  width: 45%;
  text-align: justify;
}
.card p {
  text-align: justify;
}

.left img {
  height: 300px;
  float: left;
  margin: 45px;
}

.right img {
  height: 300px;
  float: left;
  margin: 45px;
}

.right {
  float: right;
}

.left {
  float: left;
}

