<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="container">
        <div class="todo-app">
            <h2>
                <%= today %>
            </h2>
            <div class="row">
                <form action="/" method="post" class="submit-form">
                    <input type="text" id="input-box" name="newitem" placeholder="add your todo-app">
                    <button type="submit">Add</button>
                </form>
            </div>
            <ul id="list-container">


                <% for( let index=0; index < newListItems.length; index++ ) { %>
                    <div class="tasks">

                        <div class="checkbox">
                            <input type="checkbox" name="packersOff" id="packers" value="1" />
                            <label for="packers" class="strikethrough">
                                <li>
                                    <%=newListItems[index]%>
                                </li>
                            </label>
                        </div>
                    </div>
                    <% } %>
            </ul>
        </div>
    </div>
</body>


</html>