<%- include("partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="container-time">
                <h1>
                    <%= today %>
                </h1>
            </div>

            <div class="todos-container">

                <div class="todos">
                    <ul>
                        <li><input type="checkbox"> buy Food</li>
                        <li><input type="checkbox"> cook Food</li>
                        <li><input type="checkbox"> Eat Food</li>
    
                        <% for( let index=0; index < newListItems.length; index++ ) { %>
                            <li><input type="checkbox">
                                <%=newListItems[index]%>
                            </li>
                            <% } %>
    
                    </ul>
                </div>

                <div class="add-todos">
                    <form action="/" method="post">
                        <input type="text" name="newitem">
                        <button type="submit">Add</button>
                    </form>
                </div>

                
            </div>
        </div>

    </body>
    <%- include("partials/footer.ejs") %>